.headerStyle {
    text-align: center;
    color: #000;
    height: 64px;
    padding: 0 50px;
    line-height: 64px;
    background-color: #fff;
}

.navStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contentStyle {
    text-align: center;
    min-height: 120px;
    line-height: 120px;
    color: #000;
    background-color: white;
}

.footerStyle {
    text-align: center;
    color: #fff;
    background-color: #7dbcea;
}

.product-container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
