.headerStyle {
    text-align: center;
    color: #000;
}

.navStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.contentStyle {
    margin: 10px 0;
    text-align: center;
    color: #000;
}

.footerStyle {
    text-align: center;
}

.categoryBox {
    margin: 50px;
}
.product-container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-item h3 {
    margin: 10px 0;
}
.halfPriceLED {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.categoryTitle {
    font-size: 18px;
    font-weight: bold;
}
